<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Movies</title>
</head>
<body>
    <div>
        <h1>Django Movies</h1>
        {% block head %}
            <h2>¡Bienvenid@ a Django Movies!</h2>
        {% endblock head %}
        <a href="/">Página principal</a>
        <a href="/user_list/">Lista de usuarios</a>
        <a href="/register_user/">Registrar un usuario</a>
    </div>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>